<!DOCTYPE html>
<html lang="en">

<head>
	<title>Academica - Learning Page Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="Academica Learning Page Template">
	<meta name="keywords" content="academica, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/flaticon.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/style.css" />


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="container">
				<a href="#" class="site-logo">
					<img src="img/logo.png" alt="">
				</a>
				<div class="user-panel">
					<a href="#">Login</a><span>/</span><a href="">Register</a>
				</div>
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
				<ul class="main-menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About us</a></li>
					<li><a href="courses.html">Courses</a></li>
					<li><a href="blog.html">News</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
		<div class="container text-white">
			<h3>About us</h3>
		</div>
	</section>
	<!--  Page top end -->


	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 about-text">
					<h3>Hello, We are Academica</h3>
					<p>this school recommender system will be invaluable to students in secondary school as it will help them ease the burden
					of rigorous research and decreases confusion on several courses and schools and incorrect information on the internet..</p>
					<p>Majority of the students make mistakes in their higher institution course of study’s preference list due to lack of
					knowledge, inappropriate and inaccurate analysis of courses/careers and anxious predictions. Hence, they become unhappy
					and repent after admission. An automated system to do all the work will help the students a lot. Therefore an improved
					recommender system is needed to assist students in their course selection process which considers the colleges and
					course’s profile attributes and the students’ preferences for each of the attributes. </p>
					<a href="#" class="site-btn">Read More <i class="fa fa-angle-right"></i></a>
				</div>
				<div class="col-lg-5">
					<figure class="pt-lg-0 pt-5">
						<img src="img/about.jpg" alt="">
					</figure>
				</div>
			</div>
		</div>
	</section>
	<!-- About section end -->





	<!-- Footer section -->
	<footer class="footer-section spad pb-0">
		<div class="container">
			<div class="text-center">
				<a href="#" class="site-btn">Enroll Now <i class="fa fa-angle-right"></i></a>
			</div>
			<div class="row text-white spad">
				<div class="col-lg-3 col-sm-6 footer-widget">
					<h4>Engeneering</h4>
					<ul>
						<li><a href="#">Applied Studies</a></li>
						<li><a href="#">Computer Engeneering</a></li>
						<li><a href="#">Software Engeneering</a></li>
						<li><a href="#">Informational Engeneering</a></li>
						<li><a href="#">System Engeneering</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-6 footer-widget">
					<h4>Business School</h4>
					<ul>
						<li><a href="#">Applied Studies</a></li>
						<li><a href="#">Computer Engeneering</a></li>
						<li><a href="#">Software Engeneering</a></li>
						<li><a href="#">Informational Engeneering</a></li>
						<li><a href="#">System Engeneering</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-6 footer-widget">
					<h4>Art & Design</h4>
					<ul>
						<li><a href="#">Graphic Design</a></li>
						<li><a href="#">Motion Graphics & 3D</a></li>
						<li><a href="#">Classichal Painting</a></li>
						<li><a href="#">Sculpture</a></li>
						<li><a href="#">Fashion Design</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-6 footer-widget">
					<h4>Higher Education</h4>
					<ul>
						<li><a href="#">Applied Studies</a></li>
						<li><a href="#">Computer Engeneering</a></li>
						<li><a href="#">Software Engeneering</a></li>
						<li><a href="#">Informational Engeneering</a></li>
						<li><a href="#">System Engeneering</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">

				<div class="social">
					<a href=""><i class="fa fa-pinterest"></i></a>
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-dribbble"></i></a>
					<a href=""><i class="fa fa-behance"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
				</div>
				<ul class="footer-menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="footer-logo">
					<a href="#">
						<img src="img/footer-logo.png" alt="">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p class="text-white  text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>


</body>

</html>